<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../../../Resources/TemplatePages/Central/User-Guides-Videos/Central-Projects5-Checklists.flmsp');">
    <head>
        <meta name="description" content="To be more productive, you can create and use templates when working with checklists." />
    </head>
    <body>
        <h1>Checklist Templates</h1>
        <p>To be more productive, you can create and use templates when working with checklists.</p>
        <MadCap:snippetBlock src="../../../../../Resources/Snippets/Shared/All/General/Mini-TOC-Proxy-Online-Depth1.flsnp" />
    </body>
</html>