<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:searchable="False">
    <head>
    </head>
    <body>
        <h1>Template—Minor Landing Page</h1>
        <p>[Summary]</p>
        <p>[Mini-TOC Proxy snippet (below), snippet from responsive table, or manual links] </p>
        <MadCap:snippetBlock src="../../Resources/Snippets/Shared/All/General/Mini-TOC-Proxy-Online-Depth1.flsnp" />
        <p>safasfasffhdfhdfhg</p>
    </body>
</html>