<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="15" MadCap:lastHeight="7411" MadCap:lastWidth="700" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="" style="mc-master-page: url('../../Resources/TemplatePages/D2H/PDF-Topics/D2H-Design.flmsp');">
    <head>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates;Styles" />Editing a Template</h1>
        <MadCap:snippetBlock src="../../Resources/Snippets/D2H/Templates/Editing-Template-ALL.flsnp" MadCap:conditionTagExpression="include[Snippets.Snippet1]exclude[Snippets.Snippet2]" />
        <MadCap:snippetBlock src="../../Resources/Snippets/Shared/All/Print-Output/Empty-Page-Break-After.flsnp" MadCap:conditions="D2H-Guides.D2H-Design-Guide" />
    </body>
</html>