<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="1771" MadCap:lastWidth="951" MadCap:searchable="False">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates;Styles" />Copying Custom Styles to a New Template</h1>
        <MadCap:snippetBlock src="../../../Resources/Snippets/D2H/z-Dup-Topics/Legacy-UI/Copy-Custom-Styles-New-Template.flsnp" MadCap:conditionTagExpression="include[Snippets.Snippet2] exclude[Snippets.Snippet1] " />
    </body>
</html>