<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../Resources/TemplatePages/Flare/User-Guides-Videos/Flare-Templates.flmsp');">
    <head>
        <meta name="description" content="Authors, developers, or other individuals in your company can use MadCap Contributor to create new documents and files, which can be incorporated into your Flare project." />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Contributions:templates;Templates:contributions;Contributions:email" />
            <MadCap:keyword term="Templates" />
            <MadCap:concept term="FilterFeatures" />Contribution Templates</h1>
        <MadCap:microContent id="microcontent1">
            <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Micro-Content-Toolbars/User-Guides-Videos/Templates.flsnp" />
            <p>
                <MadCap:snippetText src="../../../Resources/Snippets/Flare/Reviews-Contributions/Contribution-Template-Summary.flsnp" />
            </p>
        </MadCap:microContent>
        <p>
            <MadCap:conditionalText MadCap:conditions="General.Online-Only">See <MadCap:xref href="../../Reviews-Contributions/Reviews-Contributions.htm">Topic Reviews and Collaboration</MadCap:xref>.</MadCap:conditionalText>
            <MadCap:conditionalText MadCap:conditions="Flare-Guides.Flare-Templates-Guide">For more information, see the online Help and the <span class="EmphasisItalic">Reviews and Contributions Guide</span>.</MadCap:conditionalText>
        </p>
        <p MadCap:conditions="General.Online-Only">Following are basic tasks that you may perform when using contribution templates:</p>
        <ul style="list-style-type: square;" MadCap:conditions="General.Online-Only">
            <li>
                <MadCap:xref href="../../Reviews-Contributions/Contributions/Creating-Sending-Contribution-Templates.htm" target="" title="" alt="">Creating and Sending Contribution Templates</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="../../Reviews-Contributions/Contributions/Sending-Contribution-Templates.htm" target="" title="" alt="">Sending Contribution Templates</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="../../Reviews-Contributions/Contributions/Viewing-Contribution-Templates.htm" target="" title="" alt="">Viewing Contribution Templates</MadCap:xref>
            </li>
        </ul>
    </body>
</html>