<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../Resources/TemplatePages/Flare/User-Guides-Videos/Flare-Templates.flmsp');">
    <head>
        <link href="../../../Resources/TableStyles/Shared/Fancy.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <meta name="description" content="You can choose from Flare's many factory project templates when creating a new project." />
    </head>
    <body>
        <h1 class="NoPageBreakBefore">
            <MadCap:keyword term="Templates" />
            <MadCap:concept term="FilterFeatures" />Flare's Factory Project Templates</h1>
        <p>You can choose from Flare's many factory project templates when creating a new project. <MadCap:conditionalText MadCap:conditions="General.Online-Only">See <MadCap:xref href="../../Step1-Starting-Projects/Creating-Project.htm">Creating a New Project</MadCap:xref>.</MadCap:conditionalText></p>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Projects/Flare-Factory-Templates1.flsnp" />
        <div class="video" MadCap:conditions="General.Server-Only">
            <p class="buttonT32-play"><a href="https://youtu.be/gTqWBjXJja0" data-lity="true" class="buttonT32-play-link">WATCH&#160;THE&#160;VIDEO</a>
            </p>
        </div>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Menu-Proxy-Headings-Online-Depth3.flsnp" />
        <h2><a name="OnlineTemplates"></a>Online Templates</h2>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Projects/Online-Templates-Table.flsnp" />
        <h2><a name="OnlinePrintTemplates"></a>Online and Print Templates</h2>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Projects/Online-Print-Templates-Table.flsnp" />
        <h2><a name="PrintTemplates"></a>Print Templates</h2>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Projects/Print-Templates-Table.flsnp" />
        <h2><a name="TutorialTemplate"></a>Tutorial Templates</h2>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Projects/Tutorials-Templates-Table.flsnp" />
        <MadCap:pageBreak MadCap:conditions="Flare-Guides.Flare-Templates-Guide" />
        <h2>Downloading Additional Project Templates</h2>
        <p>If you want to use one of the many other templates available from the MadCap Software website (including older ones that once were available in this wizard), you can click a new link to browse the templates and download them.</p>
        <p>
            <img src="../../../Resources/Images/Flare/Projects/Templates2.png" alt="" title="" class="MaxWidth40Percent" />
        </p>
        <p>After downloading a project template, you can unzip it and save it to a location on your computer. Then, next to <span class="Emphasis">New from existing</span>, click <img src="../../../Resources/Images/Shared/All/Interface/Buttons/Browse-Ellipses-btn.png" class="ReduceButtonSize" /> and select that project’s main .flprj file.</p>
        <p>
            <img src="../../../Resources/Images/Flare/Projects/Templates3.png" alt="" title="" class="MaxWidth100Percent" />
        </p>
    </body>
</html>