<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../Resources/TemplatePages/Flare/User-Guides-Videos/Flare-Templates.flmsp');">
    <head>
        <meta name="description" content="General information you should know if you plan to use templates." />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates" />
            <MadCap:concept term="FilterFeatures" />General Information for Templates</h1>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/General-Information-Summary.flsnp" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Mini-TOC-Proxy-Online-Depth1.flsnp" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/Print-Output/Chapter-Discusses-Following.flsnp" MadCap:conditions="Flare-Guides.Flare-Templates-Guide" />
    </body>
</html>