<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../Resources/TemplatePages/Shared/All/Main-No-Breadcrumbs.flmsp');">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates:deleting" />
            <MadCap:concept term="FilterFeatures" />Deleting Templates</h1>
        <p>You can delete templates from the Template Manager.</p>
        <h2>How to Delete a Template</h2>
        <ol>
            <li>Select <b>Tools &gt; Manage Templates</b>.  The Template Manager opens.</li>
            <li> From the file tree on the left, find and select the template file you want to remove.</li>
            <li>
                <MadCap:snippetText src="../../Resources/Snippets/Shared/All/General/Keyboard-Press-Delete.flsnp" />
            </li>
            <li>
                <MadCap:snippetText src="../../Resources/Snippets/Shared/All/General/Click-OK.flsnp" /> The template is deleted.</li>
            <li>
                <MadCap:snippetText src="../../Resources/Snippets/Shared/All/General/Save-File.flsnp" />
            </li>
        </ol>
    </body>
</html>