<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../../../../Resources/TemplatePages/Central/User-Guides/Central-Projects-Builds.flmsp');">
    <head>
    </head>
    <body>
        <h1>Checklist Templates</h1>
        <p>To be more productive, you can create and use templates when working with checklists.</p>
        <ul>
            <li>
                <MadCap:xref href="Creating-Checklist-Templates.htm">Creating Checklist Templates</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="../../../../../../Central/Projects/Page-Views/Checklists/Templates/Editing-Checklist-Templates.htm">Editing Checklist Templates</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="../../../../../../Central/Projects/Page-Views/Checklists/Templates/Deleting-Checklist-Templates.htm">Deleting Checklist Templates</MadCap:xref>
            </li>
        </ul>
        <MadCap:pageBreak MadCap:conditions="Central-Guides.Central-Projects-and-Builds-Guide" />
    </body>
</html>