<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../../../../Resources/TemplatePages/Central/User-Guides/Central-Projects-Builds.flmsp');">
    <head>
        <link href="../../../../../../Resources/TableStyles/Shared/Fancy.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Projects:checklists;Checklists;Checklists:templates;Templates:checklists" />Creating Checklist Templates</h1>
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Checklist-Templates1.flsnp" />
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Checklist-Templates2.flsnp" />
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Example-Checklist-Template.flsnp" />
        <MadCap:pageBreak MadCap:conditions="Central-Guides.Central-Projects-and-Builds-Guide" />
        <h2>How to Create a Checklist Template</h2>
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Create-Checklist-Template-Steps.flsnp" />
        <MadCap:pageBreak MadCap:conditions="Central-Guides.Central-Projects-and-Builds-Guide" />
        <h2>How to Save an Existing Checklist as a Template</h2>
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Save-Checklist-As-Template-Steps.flsnp" />
        <h2>Other Template Options</h2>
        <MadCap:snippetBlock src="../../../../../../Resources/Snippets/Central/Projects/Other-Template-Options.flsnp" />
        <MadCap:pageBreak MadCap:conditions="Central-Guides.Central-Projects-and-Builds-Guide" />
    </body>
</html>