<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates:changing" />
            <MadCap:concept term="FilterFeatures" />Changing Project Templates</h1>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Changing-Project-Templates-Summary.flsnp" />
        <h2>How to Change Project Templates</h2>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Change-Project-Template-Steps.flsnp" />
    </body>
</html>