<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:ignoredWords="etc.)?;Examples...;FAQs;this.&quot;;CSS;Stylesheets;F;alternative...;F3;F1;F2;C;F4;F6;F7;F8;F9;F10;F12;J;K;P;W;Y;Z;MasterPages;StyleSheet;StyleSheets;(.flmsp" class="" style="mc-master-page: url('../../../Resources/TemplatePages/Flare/User-Guides-Videos/Flare-Templates.flmsp');">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
        <meta name="description" content="Ways to create a template. You can create templates of entire projects or individual files within a project." />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates:creating" />
            <MadCap:concept term="FilterFeatures" />Creating Templates</h1>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Creating-Templates-Summary.flsnp" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Menu-Proxy-Headings-Online-Depth3.flsnp" />
        <MadCap:microContent id="microcontent1">
            <div>
                <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Micro-Content-Toolbars/User-Guides-Videos/Templates.flsnp" />
                <h2>How to Create a Template of an Entire Project</h2>
                <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Save-Project-As-Template-Steps.flsnp" />
            </div>
        </MadCap:microContent>
        <MadCap:microContent id="microcontent2">
            <div>
                <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Micro-Content-Toolbars/User-Guides-Videos/Templates.flsnp" />
                <div class="Tiles-6-6-Microcontent">
                    <div>
                        <h2>How to Create a File Template—File Open</h2>
                        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Create-File-Template-File-Open-Steps.flsnp" />
                    </div>
                    <div>
                        <h2>How to Create a File Template—Template Manager</h2>
                        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Create-File-Template-Manager-Steps.flsnp" />
                    </div>
                </div>
            </div>
        </MadCap:microContent>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Whats-Noteworthy.flsnp" />
        <div class="note">
            <p class="Note-Text" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #fdc80b;&quot; class=&quot;mcFormatColor&quot;&gt;Note &lt;/span&gt;&lt;/b&gt;">When you save a file (e.g., topic, page layout) as a new template and select a template folder, the appropriate template subfolder is automatically added to that folder (e.g., topic templates are stored in a subfolder called "Content"; page layout templates are stored in a subfolder called "PageLayouts"). If you open the main template folder in Windows, you will notice the subfolders within it. Do not rename these subfolders. If you decide to create template subfolders manually, you must be careful to name them exactly the same as <MadCap:variable name="Other.Product" /> names automatically.</p>
        </div>
        <div class="note">
            <p class="Note-Text" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #fdc80b;&quot; class=&quot;mcFormatColor&quot;&gt;Note &lt;/span&gt;&lt;/b&gt;">You can also create a project template when exporting files from another project. See <MadCap:xref href="../../Exporting/Exporting-Projects.htm">Exporting Projects</MadCap:xref>.</p>
        </div>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Whats-Next.flsnp" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Create-Template-Whats-Next.flsnp" />
    </body>
</html>