<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('../../../Resources/TemplatePages/Flare/User-Guides-Videos/Flare-Templates.flmsp');">
    <head>
        <meta name="description" content="Certain tasks must be completed in order when using templates." />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates" />
            <MadCap:concept term="FilterFeatures" />Process for Templates</h1>
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/General/Process-Summary.flsnp" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Flare/Templates/Templates-Process-Steps.flsnp" MadCap:conditions="General.Online-Only" />
        <MadCap:snippetBlock src="../../../Resources/Snippets/Shared/All/Print-Output/Chapter-Discusses-Following.flsnp" MadCap:conditions="Flare-Guides.Flare-Templates-Guide" />
    </body>
</html>